.service .icon img {
  max-width: 100px;
}

.service {
  padding: 30px;
}

.service h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: #1b206e;
}

.service:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}
