.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 100px;
  margin-top: 60px;
}

section.home {
  flex-direction: row;
  margin-top: 0;
}

.home-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
  font-size: 1rem;
}

.btn:hover {
  transform: scale(0.98);
}

@media (max-width: 1068px) {
  .home-img {
    display: none;
  }
  section {
    padding: 100px 40px;
  }
}
