.contact-form {
  position: relative;
  background: #3d5a80;
  width: calc(100% - 400px);
  padding: 40px;
  border-radius: 10px;
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;
  display: flex;
}

.first {
  margin-bottom: 10px;
}

.warning {
  color: red;
  font-size: 0.8rem;
  margin: 0;
}

.success {
  color: green;
  padding-left: 10px;
}

.wrong {
  margin-top: 28px !important;
}

.contact-form .row input,
.contact-form .row textarea {
  font-family: "Poppins";
  position: relative;
  border: none;
  border-radius: 3px;
  background-color: #e0fbfc;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  resize: none;
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row input[type="submit"] {
  background-color: #ee6c4d;
  color: #e0fbfc;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
}

.contact-form .input50 {
  width: 50%;
  margin: 0 10px;
}
.contact-form .input100 {
  width: 100%;
  margin: 0 10px;
}

@media (max-width: 1068px) {
  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .success {
    padding-left: 0;
  }
  .wrong {
    margin-top: 10px !important;
  }
  .row {
    margin: 0;
  }
}

@media (max-width: 426px) {
  .contactSection {
    padding: 0px 40px;
    margin-top: 30px;
  }
}
