.contact {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1068px) {
  .contact {
    flex-direction: column;
  }
}

.contactSection {
  align-items: flex-start;
}
